In [1]:
a = {1,2,3,4,4,4,4,5,6}

In [2]:
a

{1, 2, 3, 4, 5, 6}

In [4]:
type(a)

set

In [5]:
b ={2,3,4,5,6}

In [6]:
b

{2, 3, 4, 5, 6}

In [7]:
a-b

{1}

In [8]:
a&b

{2, 3, 4, 5, 6}

In [9]:
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [10]:
a|b

{1, 2, 3, 4, 5, 6}

In [11]:
a^b

{1}

In [12]:
s={1,2,3,4,5}

In [13]:
s

{1, 2, 3, 4, 5}

In [14]:
s[0]

TypeError: 'set' object is not subscriptable

In [18]:
s.add(6)

In [19]:
s

{1, 2, 3, 4, 5, 6}

In [20]:
s.clear()

In [21]:
s

set()

In [22]:
a ={}

In [24]:
type(a)

dict

In [25]:
a

{}

In [26]:
my_friends = {'A', 'B', 'C'}
A_friends = {'B', 'C', 'D'}

In [27]:
print(my_friends & A_friends)

{'B', 'C'}

In [28]:
f = ['apple', 'banna', 'orange', 'banana']

In [2]:
kind = set(f)

NameError: name 'f' is not defined

In [3]:
a = 4
b = 5
print(a>b)

False

In [4]:
c = a>b
c = True
print(type(c))
print(c)

<class 'bool'>
True

In [5]:
a = 5
b = 4
print(a+b)

9

In [6]:
a = [1, 2, 3]
b = (1, 2, 3)
print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [7]:
a[0] = 100
print(a)

[100, 2, 3]

In [13]:
a, b, c, d = 100, 200, 300, 400
print(a, b, c, d)

100 200 300 400

In [17]:
a = 5
b = 4

#logic
# temp = a
# a = b
# b = temp
a, b = b, a

print(a, b)

4 5

In [19]:
a = [0, 1, 2, 3, 4, 5]
print(a[0])

0

In [31]:
a = {'korea': 'seoul',
    'canada': 'ottawa',
    'usa': 'washinton d.c'}
a['japan']= 'Tokyo'
print(a)
b = {0:1, 1:6, 2:4, 7:9, 8:10}
print(b[1])

{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washinton d.c', 'japan': 'Tokyo'}
6

In [33]:
a = {'a': 1, 'b' : 2, 'c' : 3, 'd': 4}
b = {'a': 2, 'd' : 5, 'e': 7}
a.update(b)
print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 5, 'e': 7}

In [37]:
a = {'a': 1, 'b' : 2, 'c' : 3, 'd': 4}
print(a)

a.pop('b')
del a['d']
print(a)
a.clear()
print(a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'c': 3}
{}

In [43]:
a = {'a': 1, 'b' : 2, 'c' : 3, 'd': 4}
print(a)
b = [1,2,3,4,54,5,6,6,7,100]
print(100 in b)
print('b' in a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
True
True

In [44]:
a = [1,2,3,4,5,6]
for i in a:
    print (i, i * 2)

1 2
2 4
3 6
4 8
5 10
6 12

In [45]:
a = 'helljfljfldjfa'
for ca in a:
    print(ca)

h
e
l
l
j
f
l
j
f
l
d
j
f
a

In [48]:
a = [1, 20, 10, 14, 13, 7]
for num in a:
    if num % 2 == 0:
        print(num)
    else:
        print("sss")

sss
20
10
14
sss
sss

In [53]:
a = {'korea': 'seoul',  'japan': 'tyokyo', 'canada': 'ottawa'}
for k in a:
    print(k,a[k])

korea seoul
japan tyokyo
canada ottawa

In [54]:
for value in a.values():
    print(value)

seoul
tyokyo
ottawa

In [57]:
for key, value in a.items():
    print(key, value)

korea seoul
japan tyokyo
canada ottawa

In [62]:
a = [ 1,1,2,3,3,45]
for index, num in enumerate(a):
    if index > 4:
        print(index, num)

5 45

In [65]:
a = [1,2,3,4,5,6,7,8,9]
b = [1,2,3,4,5,6,7,8,9]
for i in a:
    for j in b:
        print(i, j, "=", i*j)

1 1 = 1
1 2 = 2
1 3 = 3
1 4 = 4
1 5 = 5
1 6 = 6
1 7 = 7
1 8 = 8
1 9 = 9
2 1 = 2
2 2 = 4
2 3 = 6
2 4 = 8
2 5 = 10
2 6 = 12
2 7 = 14
2 8 = 16
2 9 = 18
3 1 = 3
3 2 = 6
3 3 = 9
3 4 = 12
3 5 = 15
3 6 = 18
3 7 = 21
3 8 = 24
3 9 = 27
4 1 = 4
4 2 = 8
4 3 = 12
4 4 = 16
4 5 = 20
4 6 = 24
4 7 = 28
4 8 = 32
4 9 = 36
5 1 = 5
5 2 = 10
5 3 = 15
5 4 = 20
5 5 = 25
5 6 = 30
5 7 = 35
5 8 = 40
5 9 = 45
6 1 = 6
6 2 = 12
6 3 = 18
6 4 = 24
6 5 = 30
6 6 = 36
6 7 = 42
6 8 = 48
6 9 = 54
7 1 = 7
7 2 = 14
7 3 = 21
7 4 = 28
7 5 = 35
7 6 = 42
7 7 = 49
7 8 = 56
7 9 = 63
8 1 = 8
8 2 = 16
8 3 = 24
8 4 = 32
8 5 = 40
8 6 = 48
8 7 = 56
8 8 = 64
8 9 = 72
9 1 = 9
9 2 = 18
9 3 = 27
9 4 = 36
9 5 = 45
9 6 = 54
9 7 = 63
9 8 = 72
9 9 = 81

In [66]:
a = list(range(1, 101))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [67]:
list(range(5, 101, 5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [68]:
x = 2
while x <=9:
    y = 1
    while y<= 9:
        print(x, y, x*y)
        y += 1
    x += 1

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [69]:
nums = list(range(1,101))
for x in nums:
    if x % 2 == 0 or x % 11 == 0:
        print(x)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [4]:
def add(x, y):
    z = x + y
    return z

l = len([1, 2, 3])
c = add(20, 300)

In [6]:
print(l)
print(c)

3
320

In [11]:

num1 = 10
num2 = 20

def test(num1, num2):
    print(num1,num2)
    return num1 + num2



test(39, 40)
print(num1, num2)

39 40
10 20